.hero-area {
  min-height: 301px;
  background-color: #e4e4e4;
}
.hero-area a {
  font-size: 20px;
  text-decoration: none;
}
.hero-area h1 {
  color: #0a2e72;
  font-size: 50px;
}
.hero-area img {
  width: 30%;
  min-width: 885px;
  min-height: 769px;
  bottom: -139px;
  left: -100px;
  mix-blend-mode: color-burn;
}
.contact-section-wrapper {
  min-height: 1000px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* .contact-item-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
} */
.contact-bottom {
  min-height: 581px;
}
.contact-item-bpdy h2 {
  font-size: 42px;
  color: #0a2e72;
}
.contact-item-body p {
  font-size: 16px;
  color: #454d5d;
}
.by-phone,
.by-email,
.by-email {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.by-email {
}
.contact-item-header h3 {
  color: #0a2e72;
  font-size: 18px;
}
.contact-item-header h4 {
  color: #454d5d;
  font-size: 18px;
}
.contact-item-header i {
  background-color: #e4eff9;
}
.contact-item-body h3 {
  font-size: 42px;
  color: #0a2e72;
}
.contact-item-body p {
  font-size: 16px;
  color: #454d5d;
}
