.hero-area {
  min-height: 301px;
  background-color: #e4e4e4;
}
.hero-area a {
  font-size: 20px;
  text-decoration: none;
}
.hero-area h1 {
  color: #0a2e72;
  font-size: 50px;
}
.hero-area img {
  width: 30%;
  min-width: 885px;
  min-height: 769px;
  bottom: -139px;
  left: -100px;
  mix-blend-mode: color-burn;
}
/* detail wrapper */
.section-detail-wrapper {
  min-height: 1800px;
  background-color: white;
}
.left-col img::before {
  padding-right: 4rem;
  min-height: 23rem;
  min-width: 50rem;
}
.left-col h3 {
  font-size: 34px;
  color: #0a2e72;
  font-weight: 600px;
}
.left-col p {
  font-size: 16px;
  color: #454d5d;
}
.left-col h2 {
  font-size: 28px;
  color: #0a2e72;
}
.class-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.right-col h4 {
  font-size: 16px;
  color: #0a2e72;
  /* background-color: #edf4fa; */
}
.right-col h3 {
  font-size: 25px;
  color: #0a2e72;
  font-weight: 500px;
}
.apartment-items {
  background-color: #e4e4e4;
  display: flex;
}
.apartment-items:hover {
  background-color: #0088ff;
}
